body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/bg.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.7; 
  z-index: -2; 
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  z-index: -1; 
}

.login-container, .dashboard-container, .mark-attendance-container, .view-attendance-container, .apply-leave-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position: relative;
  z-index: 1;
}




.landing-container, .login-container, .attendance-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.landing-container h1, .login-container h1, .attendance-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.landing-container button, .login-container form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

.landing-container button:hover, .login-container form button:hover {
  background-color: #0056b3;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.attendance-container table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-container th, .attendance-container td {
  padding: 10px;
  border: 1px solid #ddd;
}

.attendance-container th {
  background-color: #f4f4f9;
}


.dashboard-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 900px;
  text-align: center;
  position: relative;
  z-index: 1;
}

a {
  display: block;
  margin: 15px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #0056b3;
}

iframe {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}